In [299]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [300]:
df=df = pd.read_csv('StudentDepressionDataset.csv')

In [301]:
df.sample(3)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
15901,80374,Female,25.0,Varanasi,Student,2.0,0.0,6.02,5.0,0.0,7-8 hours,Unhealthy,B.Arch,No,12.0,5.0,No,0
1937,9919,Female,24.0,Thane,Student,1.0,0.0,5.16,1.0,0.0,5-6 hours,Unhealthy,MSc,Yes,10.0,5.0,No,1
10643,53866,Female,27.0,Srinagar,Student,2.0,0.0,6.37,4.0,0.0,Less than 5 hours,Healthy,MBA,No,12.0,3.0,No,1

In [302]:
# remove id column
df.drop('id', axis=1, inplace=True)

In [303]:
df.shape

(27901, 17)

In [304]:
df.nunique()

Gender                                     2
Age                                       34
City                                      52
Profession                                14
Academic Pressure                          6
Work Pressure                              3
CGPA                                     332
Study Satisfaction                         6
Job Satisfaction                           5
Sleep Duration                             5
Dietary Habits                             4
Degree                                    28
Have you ever had suicidal thoughts ?      2
Work/Study Hours                          13
Financial Stress                           5
Family History of Mental Illness           2
Depression                                 2
dtype: int64

In [305]:
missing_values_count = df.isnull().sum()
print("Number of Missing Values in Each Column:\n", missing_values_count)

Number of Missing Values in Each Column:
 Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [306]:
# make missing values of financial stress to be the mean of the column
df['Financial Stress'].fillna(df['Financial Stress'].mean(), inplace=True)
df.isnull().sum()

C:\Users\aslam\AppData\Local\Temp\ipykernel_33520\3258471088.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Financial Stress'].fillna(df['Financial Stress'].mean(), inplace=True)

Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [307]:
df.shape

(27901, 17)

In [308]:
df['Financial Stress'].value_counts()

Financial Stress
5.000000    6715
4.000000    5775
3.000000    5226
1.000000    5121
2.000000    5061
3.139867       3
Name: count, dtype: int64

In [309]:
# removing rows with values of age appearing less than or equal to 4 times
df = df[df['Financial Stress'].map(df['Financial Stress'].value_counts()) >=4]

In [310]:
df.shape

(27898, 17)

In [311]:
# job satisfaction is mostly 0, so we can drop it, as it will not be useful
# profession is mostly student, so we can drop it, as it will not be useful
# work pressure is mostly 0, so we can drop it, as it will not be useful
df.drop(['Job Satisfaction', 'Profession','Work Pressure'], axis=1, inplace=True)

In [312]:
df.shape

(27898, 14)

In [313]:
#  Remove Rows with 'Others' in Sleep Duration, Dietary Habits, Degree
df = df[~df['Sleep Duration'].str.contains('Others', na=False)]
df = df[~df['Dietary Habits'].str.contains('Others', na=False)]
df = df[~df['Degree'].str.contains('Others', na=False)]

#  Remove Rows with Study Satisfaction Value Equal to 0
df = df[df['Study Satisfaction'] != 0]

In [314]:
df.shape

(27823, 14)

In [315]:
df.nunique()

Gender                                     2
Age                                       34
City                                      52
Academic Pressure                          6
CGPA                                     332
Study Satisfaction                         5
Sleep Duration                             4
Dietary Habits                             3
Degree                                    27
Have you ever had suicidal thoughts ?      2
Work/Study Hours                          13
Financial Stress                           5
Family History of Mental Illness           2
Depression                                 2
dtype: int64

In [316]:
df['Age'].value_counts()

Age
24.0    2254
20.0    2230
28.0    2126
29.0    1946
33.0    1890
25.0    1781
21.0    1724
23.0    1638
18.0    1581
19.0    1559
34.0    1464
27.0    1457
31.0    1423
32.0    1255
22.0    1157
26.0    1152
30.0    1138
35.0      10
38.0       7
36.0       7
42.0       4
39.0       3
48.0       3
46.0       2
43.0       2
37.0       2
44.0       1
51.0       1
49.0       1
58.0       1
54.0       1
59.0       1
56.0       1
41.0       1
Name: count, dtype: int64

In [317]:
# removing rows with values of age appearing less than or equal to 10 times
df = df[df['Age'].map(df['Age'].value_counts()) >= 11]

In [318]:
df.shape

(27775, 14)

In [319]:
df.nunique()

Gender                                     2
Age                                       17
City                                      52
Academic Pressure                          6
CGPA                                     331
Study Satisfaction                         5
Sleep Duration                             4
Dietary Habits                             3
Degree                                    27
Have you ever had suicidal thoughts ?      2
Work/Study Hours                          13
Financial Stress                           5
Family History of Mental Illness           2
Depression                                 2
dtype: int64

In [320]:
df['City'].value_counts()

City
Kalyan                1565
Srinagar              1365
Hyderabad             1335
Vasai-Virar           1286
Lucknow               1150
Thane                 1138
Ludhiana              1106
Agra                  1089
Surat                 1076
Kolkata               1055
Jaipur                1035
Patna                  999
Pune                   966
Visakhapatnam          964
Ahmedabad              944
Bhopal                 929
Chennai                883
Meerut                 820
Rajkot                 810
Bangalore              765
Delhi                  765
Ghaziabad              741
Mumbai                 694
Vadodara               690
Varanasi               682
Nagpur                 646
Indore                 642
Kanpur                 607
Nashik                 544
Faridabad              458
Saanvi                   2
Bhavna                   2
City                     2
Harsha                   2
Less Delhi               1
M.Tech                   1
3.0                      1
Less than 5 Kalyan       1
Mira                     1
Vaanya                   1
Gaurav                   1
Harsh                    1
Reyansh                  1
Kibara                   1
Rashi                    1
ME                       1
M.Com                    1
Nalyan                   1
Mihir                    1
Nalini                   1
Nandini                  1
Khaziabad                1
Name: count, dtype: int64

In [321]:
# removing rows with values of City appearing less than or equal to 10 times
df = df[df['City'].map(df['City'].value_counts()) >= 3]

In [322]:
df.shape

(27749, 14)

In [323]:
# there is too  many degrees, so we can group them into 3 categories
df['Degree'].value_counts()

Degree
Class 12    6054
B.Ed        1859
B.Com       1501
B.Arch      1474
BCA         1429
MSc         1185
B.Tech      1151
MCA         1037
M.Tech      1018
BHM          923
BSc          882
M.Ed         815
B.Pharm      809
M.Com        731
BBA          696
MBBS         689
LLB          668
BE           609
BA           595
M.Pharm      580
MD           569
MBA          560
MA           544
PhD          515
LLM          481
MHM          191
ME           184
Name: count, dtype: int64

In [324]:
# we can see that there are many degrees, so we can group them into 3 categories for better encoding later 

# making class 12th as higher secondary
df['Degree'] = df['Degree'].replace('Class 12th', 'Higher Secondary')

In [325]:
# making bachelors
bachelors_replacements = {
    'B.Ed': 'Bachelor',
    'B.Com': 'Bachelor',
    'B.Pharm': 'Bachelor',
    'BCA': 'Bachelor',
    'BE': 'Bachelor',
    'BHM': 'Bachelor',
    'MBBS': 'Bachelor', 
    'LLB': 'Bachelor',
    'BA': 'Bachelor',
    'B.Arch': 'Bachelor',
    'BBA': 'Bachelor',
    'B.Tech': 'Bachelor',
    'BSc': 'Bachelor',
}

# Apply replacements
df['Degree'] = df['Degree'].replace(bachelors_replacements)

In [326]:
# making masters
master_replacements = {
    'M.Tech': 'Master',
    'MCA': 'Master',
    'MBA': 'Master',
    'MSc': 'Master',
    'M.Com': 'Master',
    'MA': 'Master',
    'MHM': 'Master',
    'M.Arch': 'Master',
    'M.Pharm': 'Master',
    'ME': 'Master',  
    'LLM': 'Master',
    'MD': 'Master',  
    'M.Ed': 'Master',
    'PhD': 'Master' 
}

# Apply replacements
df['Degree'] = df['Degree'].replace(master_replacements)

In [333]:
df.sample(3)

,Gender,Age,City,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
16024,Male,28.0,Agra,3.0,9.47,2.0,Less than 5 hours,Moderate,Master,Yes,12.0,4.0,No,1
5423,Male,20.0,Hyderabad,3.0,8.78,4.0,7-8 hours,Healthy,Class 12,No,6.0,2.0,Yes,0
21650,Male,34.0,Surat,2.0,9.60,3.0,More than 8 hours,Healthy,Master,Yes,7.0,3.0,No,0

In [334]:
# doing one hot encoding for the categorical variables
df = pd.get_dummies(df, columns=['City', 'Degree', 'Sleep Duration', 'Dietary Habits'])

In [335]:
df.shape

(27749, 50)