In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df=df = pd.read_csv('StudentDepressionDataset.csv')

In [14]:
df.sample(5)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
16018,80991,Female,20.0,Kolkata,Student,2.0,0.0,5.74,5.0,0.0,7-8 hours,Unhealthy,Class 12,Yes,2.0,3.0,No,1
7270,36594,Male,23.0,Kolkata,Student,3.0,0.0,7.45,2.0,0.0,7-8 hours,Moderate,BSc,Yes,8.0,3.0,No,1
3672,18420,Male,18.0,Nashik,Student,4.0,0.0,7.47,3.0,0.0,More than 8 hours,Unhealthy,Others,Yes,11.0,4.0,No,1
15211,76688,Female,24.0,Thane,Student,5.0,0.0,6.75,4.0,0.0,5-6 hours,Unhealthy,B.Arch,Yes,10.0,4.0,Yes,1
10496,53208,Female,20.0,Kanpur,Student,3.0,0.0,9.24,1.0,0.0,7-8 hours,Unhealthy,Class 12,Yes,12.0,1.0,No,1

In [22]:
# notes

# show visual for financcial stress missing values
# show visual for financial stress after filling missing values to remove the values with less appearance
# show visual for proffession, job satisfaction, and work pressure so that can remove them 
# show visuals for sleep,diet and degree to remove value others
# show visual for srudy satisfaction to remove value which is zero 
# show visual for age to prove too many values appearing less times
# show visual for city to remove values with less appearance
# show visual to prove most of the degrees can be binned 
# show correlation matrix to prove and  removed